name: ios_receipt
description: The IosReceipt package allows you to easily fetch the App Store receipt in your Flutter application on the iOS platform.
version: 1.1.0
homepage: https://github.com/DimaKutko/ios_receipt

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: IosReceiptPlugin
